<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>

    <appSettings>
        <add key="ShowGui" value="HotKeyOccupiedWarning" />
        <add key="LinkStart" value="HotKeyOccupiedWarning" />
        <add key="NoAutoStart" value="False" />
        <add key="Timer.Timer1Hour" value="0" />
        <add key="Timer.Timer1Min" value="0" />
        <add key="Timer.Timer2Hour" value="3" />
        <add key="Timer.Timer2Min" value="0" />
        <add key="Timer.Timer3Hour" value="6" />
        <add key="Timer.Timer3Min" value="0" />
        <add key="Timer.Timer4Hour" value="9" />
        <add key="Timer.Timer4Min" value="0" />
        <add key="Timer.Timer5Hour" value="12" />
        <add key="Timer.Timer5Min" value="0" />
        <add key="Timer.Timer6Hour" value="15" />
        <add key="Timer.Timer6Min" value="0" />
        <add key="Timer.Timer7Hour" value="18" />
        <add key="Timer.Timer7Min" value="0" />
        <add key="Timer.Timer8Hour" value="21" />
        <add key="Timer.Timer8Min" value="0" />
    </appSettings>
</configuration>